.basic {
  margin: 0 auto;
  max-width: 1200px;
}

.welcome {
  background-image: url(images/background/index-background.jpg);
  background-color: burlywood;
  width: 1200px;
  height: min-content;
}

.to-main {
  background-color: rgb(145, 148, 133);
}

.inner-header {
  background-image: url(images/background/filter.png)
  background-color: burlywood;
  width: 1200px;
  height: min-content;
}
